{% extends "survey/base.html" %}

{% block title %}Summary{% endblock %}

{% block content %}
    <section class="content">
        <div class="list-container">
            <p>Even after just few analysis we can see how dynamic the industry is:</p>
            <ol>
                <li>Age question in 2020<br /> Every 4th respondent did not want to answer how old he/she was</li>
                <li>Age question in general<br /> One third of the respondents declared age between 25 and 34</li>
                <li>Level of education question<br /> More than 40% of the respondents got a bachelor`s degree, only 20%
                    - master`s degree</li>
                <li>Language to have worked with in 2020 question<br /> More than a half of the respondents declared to
                    have worked with JavaScript and HTML/CSS.</li>
                <li>Language want to work with next year in 2020 question<br /> 42% of the respondents planned to learn
                    Python and JavaScript.</li>
                <li>Language to have worked with in 2023 question<br /> More than 62% of the respondents declared to
                    have worked with JavaScript and 52% with HTML/CSS</li>
                <li>Language want to work with next year in 2023 question<br /> Approximately 39% of the respondents planned to learn
                    Python and JavaScript.</li>
                <li>Current job question in 2020<br /> More than 30% of the respondents were back-end Developer, 10%
                    were full-stack Developer, 5% as Database administrator</li>
                <li>Current job question in 2023<br /> More than 30% of the respondents were full-stack Developer, 18%
                    were back-end Developer, 6% as front-end Developer. Only less than 1% declared Database
                    administrator job</li>
                <li>Current job question in general<br /> In 2023 new jobs appears comparing to 2020, like: Security professional,
                    Cloud infrastructure engineer, Research & Development role</li>
            </ol>
        </div>
    </section>

{% endblock %}