{% extends "survey/base.html" %}

{% block title %}Survey results{% endblock %}

{% block content %}
    <section class="content">
        <p>Fourth question - Language to have worked with in 2020 and language declared to learn in the following year</p>
        <div class="container">
            <div class="chart-container">
                <div class="chart">
                    <img src="data:image/png;base64,{{ chart9 }}" alt="Chart 9">
                </div>
                <div class="chart">
                    <img src="data:image/png;base64,{{ chart10 }}" alt="Chart 10">
                </div>
            </div>
        </div>
    </section>
{% endblock %}